
black
cloudpickle
fairscale
fvcore
iopath
matplotlib
numpy
oauthlib
omegaconf
opencv-python
Pillow
platformdirs
portalocker
protobuf
pycocotools
pydot
pyparsing
tabulate
tensorboard
termcolor==1.1.0
timm
tomli

torch
torchvision
torchaudio 
--extra-index-url https://download.pytorch.org/whl/cu113
tqdm
yacs==0.1.8
